*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-family: "Lato", sans-serif;
    color: #333;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
}

body {
    margin: 0;
    padding: 0;
    background: #fff;
}

.header {
    background-color: #51eaea;
    background-image: linear-gradient(to bottom, rgba(129, 207, 162, 0.5), transparent);
    padding: 2rem;
    color: #fff;
    text-align: center;
}

.header img {
    border-radius: 100%;
    text-align: center;
    width: 100px;
}

.content {
    min-height: 200px;
    padding: 2rem;
    margin: 0 auto;
    max-width: 900px;
}

.content p {
    font-size: 15px;
    text-indent: 15px;
    text-align: justify;
    line-height: 25px;
    margin-top: -10px;
}

.canvas-wrap {
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

canvas {
    display: block;
}