* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(242, 243, 239);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#form {
    margin: 100px auto;
    text-align: center;
}

input {
    padding: 10px 2px;
    vertical-align: middle;
    min-width: 200px;
    margin-bottom: 10px;
}

textarea {
    vertical-align: middle;
    min-width: 205px;
    min-height: 50px;
    max-width: 300px;
    max-height: 100px;
}

#form input[type="submit"] {
    display: block;
    margin: 10px auto;
    border: none;
    padding: 10px 5px;
    outline: none;
    border-radius: 5px;
    background: #4267e2;
    color: #eee;
    cursor: pointer;
}

#form input[type="submit"]:hover {
    background: rgb(54, 140, 221);
}

#form fieldset {
    width: 800px;
    margin: 0 auto;
}

.result table {
    margin: 0 auto;
    border: 1px solid #ddd;
    border-collapse: collapse;
    border-spacing: 0;
}

.result table tr {
    border: 1px solid #ddd;
}

.result table th {
    background: #4267e2;
    padding: 10px 25px 10px 25px;
    color: #fff;
}

.result table td {
    padding: 10px 25px 10px 25px;
}

.status {
    text-align: center;
    line-height: 30px;
}